__pycache__/
*.pyc

.venv/
venv/

.env

dist/
build/

.idea/
.vscode/

*.log

timesheet_*.pdf

*.sqlite
*.sqlite3

node_modules/

release/output/
release/*.exe

release/*.db
backend/*.db

release/*.ico